{{define "toast"}}
<div class="toast toast--{{if .Error}}error{{else}}success{{end}}" data-toast>
    <div>
        {{if .Title}}<div class="toast__title">{{.Title}}</div>{{end}}
        {{if .Body}}<div class="toast__body">{{.Body}}</div>{{end}}
    </div>
</div>
{{end}}
